html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

.navbar__bg {
  width: 100%;
  height: auto;
  position: relative; }

.navbar__content {
  position: absolute;
  top: 3%;
  display: flex;
  justify-content: space-between;
  transform: translateX(40%); }
  .navbar__content li {
    list-style: none; }
  .navbar__content__logo li {
    display: flex;
    justify-content: center; }
  .navbar__content__logo a {
    text-decoration: none; }
  .navbar__content__item {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0 120px; }
    .navbar__content__item li {
      padding: 0 2vw; }
    .navbar__content__item a {
      text-decoration: none; }
  .navbar__content__social-media {
    display: flex;
    justify-content: center;
    list-style: none; }
    .navbar__content__social-media li {
      padding: 0 0.8vw; }

.content {
  position: absolute;
  top: 18%;
  position: absolute;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 22%; }
  .content__scroll {
    position: relative;
    top: 54vh;
    right: 20.5vw; }
    .content__scroll img {
      position: absolute;
      bottom: 100px; }

.btn {
  padding: 13px 30px;
  border: none; }
  .btn__download {
    background: #fc6a42; }
  .btn__features {
    background: #648cff; }

.circle {
  position: absolute; }
  .circle__sunny {
    position: relative;
    top: 16vh;
    left: 25vw; }
    .circle__sunny__text {
      position: absolute;
      top: 38px;
      left: 19px; }
  .circle__london {
    position: relative;
    top: 4vh;
    left: 48vw; }
    .circle__london__text {
      position: absolute;
      top: 38px;
      left: 15px; }
  .circle__number {
    position: relative;
    top: -25vh;
    left: 47vw; }
    .circle__number__text {
      position: absolute;
      top: 22px;
      left: 22px; }
  .circle__rio {
    position: relative;
    top: 20vh;
    left: 48vw; }
    .circle__rio__text {
      position: absolute;
      top: 20px;
      left: 15px; }

.area {
  min-width: 1500px;
  position: relative; }

.df-jcc {
  display: flex;
  justify-content: center; }

.df-jcs {
  display: flex;
  justify-content: start; }

.screenshots__tel {
  position: relative;
  transform: translateX(-35%);
  margin-right: 3%; }

.screenshots__tel::before {
  position: absolute;
  width: 100%;
  margin-left: 50%;
  display: inline-block;
  transform: rotate(90deg);
  color: rgba(237, 237, 242, 0.588);
  z-index: -15;
  content: 'Cloudy';
  font-size: 180px;
  font-family: ubuntu;
  letter-spacing: 20px; }

.screenshots__text {
  margin-top: 5%;
  margin-left: 2%; }
  .screenshots__text img {
    width: 27%; }

.screenshots__blue_circle {
  position: absolute;
  margin-left: -22%;
  margin-top: -78%; }
  .screenshots__blue_circle__text {
    position: absolute;
    top: 35px;
    left: 35px; }

.screenshots__yellow_circle {
  position: absolute;
  margin-left: 82%;
  margin-top: -148%; }
  .screenshots__yellow_circle__text {
    position: absolute;
    top: 35px;
    left: 17px; }

.sunny__tel {
  position: relative;
  transform: translateX(175%);
  margin-right: 3%; }

.sunny__tel::before {
  position: absolute;
  width: 100%;
  margin-left: 50%;
  display: inline-block;
  transform: rotate(90deg);
  color: rgba(237, 237, 242, 0.588);
  z-index: -15;
  content: 'Sunny';
  font-size: 180px;
  font-family: ubuntu;
  letter-spacing: 20px; }

.sunny__text {
  margin-top: 5%;
  margin-left: -22%; }
  .sunny__text img {
    width: 27%; }
  .sunny__text_content {
    margin-right: 25vw; }

.sunny__blue_circle {
  position: absolute;
  margin-left: -22%;
  margin-top: -78%; }
  .sunny__blue_circle__text {
    position: absolute;
    top: 35px;
    left: 35px; }

.sunny__yellow_circle {
  position: absolute;
  margin-left: 82%;
  margin-top: -148%; }
  .sunny__yellow_circle__text {
    position: absolute;
    top: 35px;
    left: 17px; }

.rainy__tel {
  position: relative;
  transform: translateX(-35%);
  margin-right: 3%; }

.rainy__tel::before {
  position: absolute;
  width: 100%;
  margin-top: 30%;
  margin-left: 60%;
  display: inline-block;
  transform: rotate(90deg);
  color: rgba(237, 237, 242, 0.588);
  z-index: -15;
  content: 'Rainy';
  font-size: 180px;
  font-family: ubuntu;
  letter-spacing: 20px; }

.rainy__text {
  margin-top: 5%;
  margin-left: 2%; }
  .rainy__text img {
    width: 27%; }

.rainy__blue_circle {
  position: absolute;
  margin-left: -22%;
  margin-top: -78%; }
  .rainy__blue_circle__text {
    position: absolute;
    top: 35px;
    left: 35px; }

.rainy__yellow_circle {
  position: absolute;
  margin-left: 82%;
  margin-top: -148%; }
  .rainy__yellow_circle__text {
    position: absolute;
    top: 35px;
    left: 17px; }

.circle-ss {
  position: relative;
  width: 60px;
  height: 60px;
  box-shadow: inset -2px 0px 1px 1px  #ececec;
  border-radius: 100%; }
  .circle-ss__text {
    position: absolute;
    top: 20px;
    left: 15px; }

.shadow {
  box-shadow: 0 0 0 1px #a8a7a7; }

.slick-slide, .slick-current, .slick-active, .slick-center {
  width: 400px !important;
  transform: translateX(10%); }

.arrow_prev {
  position: absolute;
  left: 20%;
  top: 185%; }

.arrow_next {
  position: absolute;
  right: 20%;
  top: 185%; }

.people {
  display: flex;
  transform: translateX(23%); }

.people__content:before {
  content: url(../image/icon/text_dot/dot.png); }

.people__content:after {
  margin-left: 22.5vw;
  content: url(../image/icon/text_dot/dot_after.png); }

.download {
  position: relative; }
  .download__content {
    position: absolute;
    top: 25%;
    transform: translateX(110%); }

.footer {
  position: relative;
  background-color: #353854 !important;
  padding: 20vh 100%; }
  .footer__content {
    position: absolute;
    bottom: 28vh;
    display: flex;
    justify-content: space-between;
    transform: translateX(-134%); }
    .footer__content li {
      list-style: none; }
    .footer__content__logo li {
      display: flex;
      justify-content: center; }
    .footer__content__logo a {
      text-decoration: none; }
    .footer__content__item {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0 120px; }
      .footer__content__item li {
        padding: 0 2vw; }
      .footer__content__item a {
        text-decoration: none; }
    .footer__content__social-media {
      display: flex;
      justify-content: center;
      list-style: none; }
      .footer__content__social-media li {
        padding: 0 0.8vw; }
  .footer__line {
    position: absolute;
    transform: translateX(-105%);
    width: 90vw;
    border: 1px solid #575969; }

.no_copryght {
  position: absolute;
  margin-top: -10vh;
  margin-left: 60vw; }

.arrow {
  background-color: #434769;
  padding: 10px;
  position: absolute;
  right: -10vw;
  top: 6vh; }

@media only screen and (max-width: 1200px) {
  .navbar__content {
    top: 5%;
    transform: translateX(15%); }
  .content {
    margin: 6% 11%; }
    .content__phone {
      display: none; }
    .content__scroll {
      position: absolute;
      right: 0;
      top: 85vh; }
  .circle {
    display: none; }
  .screenshots__tel img {
    display: none; }
  .sunny {
    transform: translateX(24%); }
    .sunny__tel img {
      display: none; }
  .rainy__tel img {
    display: none; } }

@media only screen and (max-width: 600px) {
  .navbar__bg {
    width: 100%;
    height: auto;
    position: relative; }
  .navbar__content {
    position: absolute;
    top: 3%;
    display: flex;
    justify-content: space-between;
    transform: translateX(14%); }
    .navbar__content li {
      list-style: none; }
    .navbar__content__logo li {
      display: flex;
      justify-content: center; }
    .navbar__content__logo a {
      text-decoration: none;
      font-size: 19px; }
    .navbar__content__item {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0 20px; }
      .navbar__content__item li {
        padding: 0 1vw; }
      .navbar__content__item a {
        font-size: 14px;
        text-decoration: none; }
    .navbar__content__social-media {
      display: flex;
      justify-content: center;
      list-style: none; }
      .navbar__content__social-media li {
        padding: 0 0.8vw; }
        .navbar__content__social-media li a img {
          display: none; }
  .center {
    flex-direction: column; }
  .center_sm {
    display: flex;
    justify-content: center;
    margin-right: 13px; }
  .fs-30 {
    font-size: 20px !important; }
  .fs-20 {
    font-size: 16px !important; }
  .mt-vh2 {
    margin-top: 6vh !important; }
  .sunny__tel::before {
    display: none !important; }
  .rainy__tel::before {
    display: none !important; }
  .screenshots__tel::before {
    display: none !important; }
  .rainy__yellow_circle__text {
    display: none; }
  .ml-26 {
    margin-left: 0px !important; }
  .content__scroll img {
    display: none; }
  .people {
    transform: translateX(2%);
    margin-top: 30px !important; }
    .people__content {
      font-size: 7px !important; }
  .download__content {
    transform: translateX(4%); }
  .arrow {
    margin-right: 15vw; }
  .no_copryght {
    margin-left: 6vw;
    margin-top: -12vh; }
    .no_copryght p {
      font-size: 12px; }
  .footer {
    position: relative;
    background-color: #353854 !important;
    padding: 20vh 100%; }
    .footer__content {
      position: absolute;
      bottom: 15vh;
      margin-left: 22%;
      display: grid;
      grid-template-rows: 40px 40px 40px;
      justify-content: start;
      transform: translateX(-113%); }
      .footer__content li {
        list-style: none; }
      .footer__content__logo img {
        width: 70%;
        padding-left: 25px; }
      .footer__content__logo li {
        display: flex;
        justify-content: center; }
      .footer__content__logo a {
        text-decoration: none; }
      .footer__content__item {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0 120px; }
        .footer__content__item li {
          padding: 0 2vw; }
        .footer__content__item a {
          text-decoration: none; }
      .footer__content__social-media {
        bottom: 0px !important;
        display: flex;
        justify-content: center;
        list-style: none; }
        .footer__content__social-media li {
          padding: 0 3vw; }
    .footer__line {
      position: absolute;
      transform: translateX(-105%);
      width: 90vw;
      border: 1px solid #575969; } }
